* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #3c486b;
  color: white;
}
.header .container a img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}
.header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  /* away from the logo */
  justify-content: flex-end;
}
.header .container nav ul {
  display: flex;
  list-style: none;
}
.header .container nav ul li a {
  display: block;
  color: white;
  font-size: 17px;
  transition: 0.3s;
  padding: 35px 10px;
  text-decoration: none;
}
.header .container nav ul li a.active,
.header .container nav ul li a:hover {
  color: #f9e2af;
}

body {
  min-height: 100vh;
  color: black !important;
  /*display: flex;
  flex-direction: column;
  /* grid-template-rows: 1fr auto; 
  background-color: lightgray; */
}
#main .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}
.form-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-control input,
.form-control select {
  width: 80%;
  height: 25px;
}
.form-submit-button {
  display: flex;
  justify-content: center;
}
.form-submit-button button {
  /* margin: 15px; */
  border: none;
  background-color: #3c486b;
  color: black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.card {
  height: 400px;
  width: 300px;
  background-color: green;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: black;
  display: inline-block;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  /* margin-bottom: 30px; */
  text-align: center;
}
.card :last-child {
  margin: 0;
}
.card img {
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
}
h4 {
  font-size: 16px;
  /* margin: 0 0 20px; */
}
span {
  font-size: 16px;
  /* margin: 0 0 20px; */
}
h5 {
  font-size: 16px;
}
div {
  text-align: center;
}
p {
  font-size: 18px;
  margin: 5px 0;
  color: black;
}

#administration {
  background-color: #394867;
}
#finance {
  background-color: #212a3e;
}
#marketing {
  background-color: grey;
}
#development {
  background-color: #9ba4b5;
}
#employeeEle {
  height: 100vh;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  margin: 20px;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3c486b;
  color: white;
}
.footer .container p {
  font-size: 17px;
  color: white !important;
}
.footer .container a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 30px 10px;
}
.footer .container a i {
  color: white;
}
